<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>

    <script>
        function press() {
            let body = document.getElementById("main");

            let hd = document.createElement("h1");

            hd.innerHTML = "I am from Nepal!";
            hd.style.color = "red";

            body.style.backgroundColor = "black";

            body.appendChild(hd);
        }
    </script>

</head>

<body id="main">
    <button id="btn" onclick="press()">Click Me</button> 
</body>
</html>
