<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2</title>

    <script>
        function press() {
            let hd = document.getElementById("h1");
            hd.innerHTML = "Nepal is a Beautiful country!";
            hd.style.color = "red";
        }
    </script>
</head>

<body id="main">
    
    <h1 id="h1">Nepal</h1>

    <button onclick="press()">Click Me</button>

</body>
</html>
