<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detail Tag Example </title>
    <style>
        a
        {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
</head>
<frameset cols="30%,*">
    <frame src="FrameSample.html" style="background-color: lightsteelblue;">
    <frame src="blank.html" name="demo">
</frameset>
</html>